# ignore PyCharm IDE Files
.idea/

# ignore py cache
__pycache__/

# ignore virtual environment
venv/

# ignore Vectra Data
Data
DataPartitions

# ignore Results and Reconstruction Folders
ResultsTest
ResultsReal
Recon